{% extends "base.html" %}

{% block content %}

    {% if validlink %}
        <br>
        <p>Придумайте себе новый пароль</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтверждение пароля</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="ОК" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Ошибка</h1>
        <p>Неверная ссылка для сброса пароля. Попробуйте повторить операцию еще раз.</p>
    {% endif %}

{% endblock %}
