{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-12 col-xl-8">
    <div class="row">
      <div class="mt-4 mb-4">
        <div class="col px-3 py-3 rounded shadow-sm bg-white">
          <table class="table table-borderless table-hover">
            {% for key,value in response_data.items%}
              {% for key,value in value.items %}
                {% if forloop.last %}
                  {% for task in value %}
                    <tr id="row_{{task.pk}}">
                      <td>
                        <div class="input-group">
                          <div class="input-group-text">
                            <input class="form-check-input" type="checkbox" value="" id="check_{{ task.pk }}">
                          </div>
                          <textarea class="form-control other_shadow_border" id="content_{{ task.pk }}" rows="1"
                            placeholder="Задача.." required>{{ task.content }}</textarea>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <th scope="row">
                      {{ value }}
                    </th>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-4 order-xl-last order-first">
    <div class="row mt-4" style="position:sticky; top:20px;">
      <div class="col px-3 py-3 rounded shadow-sm bg-white panel">
        <div class="row">
          <div class="col">
            Перенести на:
            <div class="btn-group" role="group">
              <div class="pit-button date">
                {{ now_date }}
              </div>
              <div class="pit-button-2 date">Другая дата➤</div>
            </div>
          </div>
        </div>
          <button class="floating-button throw-over">Перенести</button>
      </div>
      <div class="row">
        <div class="col">
          <div class="tags">
            <span class="filters">январь</span>
            <span class="filters">февраль</span>
            <span class="filters">март</span>
            <span class="filters">апрель</span>
            <span class="filters">май</span>
            <span class="filters">июнь</span>
            <span class="filters">июль</span>
            <span class="filters">август</span>
            <span class="filters">сентябрь</span>
            <span class="filters">октябрь</span>
            <span class="filters">ноябрь</span>
            <span class="filters">декабрь</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
